hr {
    margin-left: 100px;
    margin-right: 100px;
}

@media (min-width: 481px) and (max-width: 767px) {
    p {
        font-size: 30px;
        text-align: center;
    }  
}

@media (min-width: 320px) and (max-width: 480px) {
    p {
        font-size: 30px;
        text-align: center;
    }   
}